html, body {width: 100%; max-width: 1920px; min-width: 1200px; margin: 0 auto;}
.header {z-index:3; position:fixed; top: 0;left: 0;width: 100%; background-color:#fff; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);}
.header_inner {position:relative; display:flex; align-items: center; justify-content:center; width: 1600px;max-width: 1260px; height:80px; margin: 0 auto;}
.header .header_inner .logo {position:absolute; top: 0; left:0;}
/* .header .header_inner .logo a {width: 60px;height: 60px;background: url(../img/logo.webp);transition: all 0.4s ease; background-size: 100%;} */

.gnb .gnb_list {display:flex; align-items: center; justify-content:center;}
.gnb .gnb_list li {margin-right: 100px;transition: .5s ease;}
.gnb .gnb_list li:last-child {margin-right: 0;}
.gnb .gnb_list li a {font-size: 20px;line-height: 1;font-weight:700; color:#3a3a3a;}

/* contant */
.visual_wrap {width:100%; height:800px; background-color:#ffdcdc;}
.visual_wrap .visual_inner {display:flex; align-items: center; justify-content: center;width:100%; height:800px; }
.visual_wrap .visual_inner .visual_text {color:#fff; text-align:center;}
.visual_wrap .visual_inner .visual_text h3 {font-size:34px; font-weight:900;}
.visual_wrap .visual_inner .visual_text p {margin-top:20px; font-size:22px; font-weight:700;}


/* thumb_wrap */
.about_wrap {display:flex; flex-wrap: wrap; justify-content: space-between; width:1200px; margin: 0 auto; padding: 100px 0 0;}
.thumb_wrap {overflow:hidden; width:300px; height:300px; border-radius:50%; border:10px solid #fff;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}
.thumb_wrap img {width:100%;}

.about_text {width:calc(100% - 400px); margin-top:100px;}
.about_text dl {display:flex; flex-wrap: wrap; margin-bottom:100px;}
.about_text dl:last-child {margin-bottom:0;}
.about_text dl dt {position: -webkit-sticky;  position: sticky; top:200px; width:160px;  height:30px;}
.about_text dl dt span {display:inline-block; border-bottom: 8px solid rgb(255, 238, 0); line-height:13px; font-size:20px; font-weight:bold;}
.about_text dl dd {width:calc(100% - 160px); line-height:1.4;}

.skills_wrap {position:relative; width:1200px; height:340px; padding:200px 0; margin: 0 auto;}
.skills_swiper {position:absolute; width:600px; height:260px; border-radius:20px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); background-color:#fff;}

.skills_swiper01 {position:absolute; left:20px; top: 200px;}
.skills_swiper02 {position:absolute; right: 20px; top:250px;}
.skills_swiper02 {width:600px; height:260px;  border-radius:20px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}

.swiper-pagination-bullets  {text-align:center;}

.skills_info {width:100%; height:100%; padding: 20px; box-sizing: border-box;}

.percent {position:relative; width: 150px; height:120px; justify-content: space-around ;}
.circular-chart {display: block;margin: 10px auto;max-width: 80%;max-height: 250px;}
.circle-bg {fill: none;stroke: #eee;stroke-width: 3.8;}
.circle {stroke: #e7a328; fill: none;stroke-width: 2.8;stroke-linecap: round;animation: progress 1s ease-out forwards;}
.circular-chart.orange .circle {stroke: #e44f26;}
.circular-chart.green .circle {stroke: #1572b6;}
.circular-chart.blue .circle {stroke: #1e2e3b;}

.percentgauge {position:absolute; top: 50%; left:50%; font-size:22px; font-weight:700; color:#3f3f3f; transform: translate(-50%, -50%);}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


.footer_inner {height:600px; background-color:#363636;}