#wrap {overflow:hidden; width:100%; max-width: 1920px; min-width: 1200px; margin: 0 auto;}

.header {z-index:3; position:fixed; top: 0;left: 0;width: 100%; background-color:#fff; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);}
.header .inner {position:relative; display:flex; align-items: center; justify-content:center; width: 1600px;max-width: 1260px; height:80px; margin: 0 auto;}
.header .inner .logo {position:absolute; top: 50%; left:0; transform: translateY(-50%);}
.header .inner .logo a {font-size:38px; font-family: 'Righteous', cursive; color:#0b2bb6;}

.gnb .gnb_list {display:flex; align-items: center; justify-content:center;}
.gnb .gnb_list li {margin-right: 60px;}
.gnb .gnb_list li:last-child {margin-right: 0;}
.gnb .gnb_list li a {font-size: 20px;line-height: 1;font-weight:700; color:#3a3a3a;}
.gnb .gnb_list li a:hover {color:#0b2bb6;}


/* contant */
.sec_visual {width:100%; height:800px; background: url(../img/visual.jpg) center -50px no-repeat; background-size:cover; background-attachment: fixed;}
.sec_visual .inner {display:flex; align-items: center; justify-content: center;width:100%; height:800px; }
.sec_visual .inner .text_area {color:#fff; text-align:center;}
.sec_visual .inner .text_area h3 {font-size:34px; font-weight:900;}
.sec_visual .inner .text_area p {margin-top:20px; font-size:22px; font-weight:700;}

.sec_about .inner {display:flex; flex-wrap: wrap; justify-content: space-between; width:1200px; margin: 0 auto; padding: 100px 0 0;}
.sec_about .thumbnail_area {overflow:hidden; width:300px; height:300px; border-radius:50%; border:10px solid #fff;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}
.sec_about .thumbnail_area img {width:100%;}

.sec_about .about_text {width:calc(100% - 400px); margin-top:100px;}
.sec_about .about_text dl {display:flex; flex-wrap: wrap; margin-bottom:100px;}
.sec_about .about_text dt {position: -webkit-sticky; position: sticky; top:0; width:160px; height:30px;}
.sec_about .about_text dt span {display:inline-block; border-bottom: 8px solid #b4dfff; line-height:13px; font-size:20px; font-weight:bold;}
.sec_about .about_text dd {width:calc(100% - 160px); line-height:1.4; word-break: keep-all;}





































.sec_skills {background-color:#f3f7fa;}
.sec_skills .inner {position:relative; width:1200px; height:340px; padding:200px 0; margin: 0 auto;}
.skills_swiper {position:absolute; width:600px; height:260px; border-radius:20px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); background-color:#fff;}

.skills_swiper01 {position:absolute; left:20px; top: 200px;}
.skills_swiper02 {position:absolute; right: 20px; top:250px;}
.skills_swiper02 {width:600px; height:260px;  border-radius:20px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}

.swiper-pagination-bullets  {text-align:center;}

.skills_item {display:flex; align-items: center; justify-content:space-between; width:100%; height:100%; padding: 0 90px 0 70px; box-sizing: border-box;}

.percent_area {position:relative; width: 150px; height:120px; justify-content: space-around ;}
.percent_area .circular-chart {display: block;margin: 10px auto;max-width: 80%;max-height: 250px;}
.percent_area .circle-bg {fill: none;stroke: #eee;stroke-width: 3.8;}
.percent_area .circle {stroke: #e7a328; fill: none;stroke-width: 2.8;stroke-linecap: round;animation: progress 1s ease-out forwards;}
.percent_area .circular-chart.orange .circle {stroke: #e44f26;}
.percent_area .circular-chart.green .circle {stroke: #1572b6;}
.percent_area .circular-chart.blue .circle {stroke: #1e2e3b;}

.percent_area  .percentgauge {position:absolute; top: 50%; left:50%; font-size:22px; font-weight:700; color:#3f3f3f; transform: translate(-50%, -50%);}



.skills_text {width:calc(100% - 108px); word-break: keep-all; font-size:16px; line-height:22px;}


.info_img {position:relative; width:200px;}
.info_img img {width:100%;}

.info_txt {width:calc(100% - 200px);}
.info_txt dl {display:flex; margin-bottom:16px;}
.info_txt dl dt {margin-right:16px; font-weight:900;}

footer { background-color:#0f0f0f;}
.footer_inner {overflow:hidden; width:1200px; margin: 0 auto; padding: 100px 0; font-size:22px; line-height:40px; color:#fff;}


.footer_left {width:50%; float:left;}

.code_let {color:#569cd6;}
.code_name {color:#4cbaf6;}
.code_bracket {color:#ffd600;}
.code_key {float:left; margin-right:15px; color:#9cdcfe;}
.code_value--name {float:left; color:#b5cea8;}
.code_value--name:nth-child(1) {color:#ce9178;}
.code_contant {display:block; margin-left:50px;}

.footer_right {width:500px; position:absolute; right: 0; display:flex; align-items: center; height:240px; padding-left:50px; border-radius: 20px 0 0 20px; background-color:#fff;}
.footer_info dl {display:flex; align-items: center; color:#333;}
.footer_info dl dt {margin-right:30px; font-size:20px; font-weight:bold;}
.footer_info dl dt i {margin-right:15px; width:20px; font-size:18px; vertical-align:center;}
.footer_info dl dd a {font-size:16px; color:#333}



/* keyframes */
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
/* //keyframes */