.evtWrap {background-color: #f1ff9f;}
.evtWrap .evtSec {position: relative; padding: 100px 200px;}
.evtWrap .evtSec .ladderWrap {position: relative;}

/* userWrap */
.userWrap {display: flex; justify-content: space-between; width: calc(100% + 56px); height: 720px; margin: 0 0 0 -30px;}
.userWrap .userItem {z-index: 4; position: relative; display: inline-block; width: 60px; height: 60px; margin-top: 30px; background-size: cover !important; cursor: pointer;}
.userWrap .userItem.item01 {background: url(../../images/사자.png) center no-repeat;}
.userWrap .userItem.item02 {background: url(../../images/토끼.png) center no-repeat;}
.userWrap .userItem.item03 {background: url(../../images/원숭이.png) center no-repeat;}
.userWrap .userItem.item04 {background: url(../../images/소.png) center no-repeat;}


.userWrap .userLine {z-index: 3; position: absolute; display: none;}
.userWrap .user01 .userLine {position: absolute; top: 120px; left: 3px;}
.userWrap .user02 .userLine {position: absolute; top: 120px; left: 199px;}
.userWrap .user03 .userLine {position: absolute; top: 120px; left: 395px;}
.userWrap .user04 .userLine {position: absolute; top: 120px; left: 2px;}


/* ladderDefault */
.ladderDefault {position: absolute; top: 120px; left: 0; display: flex; align-items: center; justify-content: space-between; width: 100%;}
.ladderDefault .line {width: 10px; height: 600px; background-color: #774115; border-radius: 8px;}


/* resultWrap */
.resultWrap {display: flex; justify-content: space-between; width: calc(100% + 56px); margin: 0 0 0 -30px;}
.resultWrap .resultItem {display: inline-block; width: 60px; height: 60px; margin-top: 30px; background: url(../../images/물음표.png) 0 0 no-repeat; background-size: cover !important; cursor: pointer; animation: bounce_shake 1.5s ease-out infinite;}


/* popupWrap */
.popupWrap {z-index: 1060;position: relative;display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;}
.popupWrap.on {display: block;}
.popupSec {z-index: 1061;overflow: hidden;position: fixed;top: 50%;left: 50%;width: 800px; height: 500px; border-radius: 35px; border: 9px solid rgb(121, 54, 0); background: #ffffff;box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}
.popupClose {position: absolute; top: 0; right: 0px; width: 60px; height: 60px;}
.popupClose::after, .popupClose::before {content: ''; position: absolute;top: 50%; left: 50%; width: 2px; height: 30px; background-color: #5c5c5c;transform: translate(-50%, -50%) rotate(-45deg);}
.popupClose::before {transform:translate(-50%, -50%) rotate(45deg);}
.filter {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.3);}


@keyframes bounce_shake{
  0% { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-5px); }
  32% { transform: scale(1.2) translateY(-5px); }
  35%, 40% { transform: scale(1.2) translateY(-5px) rotate(-20deg)}
  45%, 50% { transform: scale(1.2) translateY(-5px) rotate(20deg)}
  60%  { transform: scale(1.05,.95) translateY(0); }
  70%  { transform: scale(1.05,.95) translateY(0); }
  80%  { transform: scale(1,1) translateY(-3px); }
  95%  { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}